<form>


  <table class="table table-bordered">
    <tr class="table-head">
      <td>Meeting id</td>
      <td>Meeting name</td>
      <td>Start time</td>
      <td>End time</td>
      <td>Information button</td>
      <td>Accept button</td>
      <td>Decline button</td>
    </tr>
    <tr *ngFor="let meeting of meetings; let i = index" [ngClass]="{'no-choose' : meeting.accept == 0,
                                                                    'choose-accepted' : meeting.accept == 1,
                                                                    'choose-declined' : meeting.accept == 2,
                                                                    'is-over' : meeting.accept == -1}">
      <td>{{meeting.id}}</td>
      <td>{{meeting.name}}</td>
      <td>{{meeting.start | date: 'MMM d, y H:mm:ss' : 'UTC'}}</td>
      <td>{{meeting.end | date: 'MMM d, y H:mm:ss' : 'UTC'}}</td>
      <td>
        <button class="btn btn-info" (click)="meetingInfo(i)">Information</button>
      </td>
      <td>
        <button class="btn btn-info" [disabled]="meetings[i].accept == 1" (click)="acceptMeeting(i)">Accept</button>
      </td>
      <td>
        <button class="btn btn-info" [disabled]="meetings[i].accept == 2" (click)="declineMeeting(i)">Decline</button>
      </td>
    </tr>
  </table>

  <hr><hr>

  <div *ngIf="showInfo">
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">Meeting id:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.meetingId}}</div>
    </div>
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">Office id:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.officeId}}</div>
    </div>
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">Office address:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.officeAddress}}</div>
    </div>
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">Room id:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.roomId}}</div>
    </div>
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">Room cabinet:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.cabinet}}</div>
    </div>
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">Room items:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.roomItems}}</div>
    </div>
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">Meeting theme:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.meetingName}}</div>
    </div>
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">Start time:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.startTime  | date: 'MMM d, y H:mm:ss' : 'UTC'}}</div>
    </div>
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">End time:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.endTime  | date: 'MMM d, y H:mm:ss' : 'UTC'}}</div>
    </div>
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">Status:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.status}}</div>
    </div>
    <div class="form-group row">
      <p class="col-sm-2 col-form-label">Invited:</p>
      <div class="input-group col-sm-8 col-form-label">{{infoMeeting.invited}}</div>
    </div>
    <div class="form-group row">
      <button class="btn btn-info col-sm-12" (click)="closeInfo()">Close</button>
    </div>

  </div>

  <hr><hr>

  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (closed)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>

</form>
